:root{
    --text-color: white;
    --bg-color: #541b81;
    --button-color: #7434a5;
    --button-hover-color: #8c4ebb;
}
body{
    color: var(--text-color);
    width: 250px;
    height: auto;
    background-color: var(--bg-color);
    text-align: center;
    margin-bottom: 15px;
}
#inject{
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
}
#inject:hover{
    background-color: var(--button-hover-color);
}
.inner-url{
    padding: 10px;
}
#url{
    word-break: break-all;
}
